.navbar-nav li a {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.lead {
    margin: 40px 0 10px 0;
    display: block;
    text-align: center;
}

.category-card {
<<<<<<< HEAD
    height: 300px;
}

.container-info {
    width: 100%;
=======
    height: 200px;
>>>>>>> c65e37a514936309e99c24d177af379eefb808f9
}

.text {
    margin-top: 40px;
}

.text-primary {
    display: block;
    margin: 40px;
}

.list-group {
    margin-top: 50px;
}

<<<<<<< HEAD
/*.contact-info {*/
/*    height: 100px;*/
/*    !*display: block;*!*/
/*    !*text-align: justify;*!*/
/*    !*padding-right: 100px;*!*/
/*    !*margin-right: 300px;*!*/
/*}*/
=======
.contact-info {
    height: 50px;
    width: 200px;
    /*display: block;*/
    /*text-align: justify;*/
    /*padding-right: 100px;*/
    /*margin-right: 300px;*/
}
>>>>>>> c65e37a514936309e99c24d177af379eefb808f9

section {
    display: flex;
    justify-content: center;
}

footer p {
    display: block;
    text-align: center;
}

/* Общие стили */
body {
    font-family: 'Noto Serif', serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding-top: 60px; /* Отступ сверху для фиксированного навигационного меню */
}

/* Стили для заголовков */
h2, h3 {
    color: #007bff; /* Цвет заголовков */
}

.container-primary {
    display: inline-block;
}

.container-about {
    display: flex;
    justify-content: center;
    text-align: center;
}

<<<<<<< HEAD
/*!* Стили для навигационного меню *!*/
/*.navbar {*/
/*    background-color: #ffffff; !* Цвет фона навигационного меню *!*/
/*    border-bottom: 1px solid #ddd; !* Граница снизу *!*/
/*}*/

/*!* Стили для заголовка шапки *!*/
/*header {*/
/*    background-color: #007bff; !* Цвет фона *!*/
/*    color: #ffffff; !* Цвет текста *!*/
/*    padding: 100px 0; !* Внутренние отступы *!*/
/*    text-align: center;*/
/*}*/

/*!* Стили для основного контента *!*/
/*main {*/
/*    padding: 30px 15px; !* Внутренние отступы *!*/
/*}*/

/*!* Стили для карточек курсов *!*/
/*.category-card {*/
/*    height: 100%; !* Высота карточек *!*/
/*    border: 1px solid #ddd; !* Граница *!*/
/*    border-radius: 8px; !* Радиус скругления углов *!*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); !* Тень *!*/
/*    transition: box-shadow 0.3s ease-in-out; !* Плавный переход для тени *!*/
/*}*/

/*.category-card:hover {*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); !* Тень при наведении *!*/
/*}*/

/*!* Стили для контактной информации *!*/
/*.contact-info {*/
/*    margin-top: 50px; !* Отступ сверху *!*/
/*}*/
=======
/* Стили для навигационного меню */
.navbar {
    background-color: #ffffff; /* Цвет фона навигационного меню */
    border-bottom: 1px solid #ddd; /* Граница снизу */
}

/* Стили для заголовка шапки */
header {
    background-color: #007bff; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    padding: 100px 0; /* Внутренние отступы */
    text-align: center;
}

/* Стили для основного контента */
main {
    padding: 30px 15px; /* Внутренние отступы */
}

/*!* Стили для карточек курсов *!*/
.category-card {
    height: 100%; /* Высота карточек */
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Радиус скругления углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    transition: box-shadow 0.3s ease-in-out; /* Плавный переход для тени */
}

.category-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

/* Стили для контактной информации */
.contact-info {
    margin-top: 50px; /* Отступ сверху */
}
>>>>>>> c65e37a514936309e99c24d177af379eefb808f9

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {

    .container-about {
        display: inline-block;
    }

    .head-text {
        font-size: 48px;
    }

    /* Стили для мобильных устройств */
    header {
        padding: 80px 0; /* Уменьшенные внутренние отступы */
    }


    .category-card {
        margin-bottom: 30px; /* Отступ между карточками */
    }
}

@media (max-width: 576px) {

    .container-about {
        display: inline-block;
<<<<<<< HEAD
=======
        justify-content: center;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
>>>>>>> c65e37a514936309e99c24d177af379eefb808f9
    }

    .head-text {
        font-size: 48px;
    }

    /* Дополнительные стили для узких мобильных устройств */
    header {
        padding: 60px 0; /* Дополнительно уменьшенные внутренние отступы */
    }

    .category-card {
<<<<<<< HEAD
        margin-bottom: 20px; /* Уменьшенный отступ между карточками */
    }
=======
        /*padding: 30px;*/
        /*max-width: 100%;*/
        margin-bottom: 20px; /* Уменьшенный отступ между карточками */
    }

    footer p {
        font-size: 10px;
    }

    .navbar {
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }

    .mb-5 {
        padding: 40px;
        max-width: 400px;
        margin-left: 20px;
    }


>>>>>>> c65e37a514936309e99c24d177af379eefb808f9
}



